@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&family=Press+Start+2P&display=swap');

header {
    display: flex;
    justify-content: space-between;
    background-color: #2c2b2b;
    border-bottom: 10px solid #ff7300;
    padding: 10px 20px;
}

nav {
    text-align: right;
}

a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-family: 'Fira Code';
    font-weight: 500;
    text-decoration: none;
    margin-right: 30px;
}

a::before {
    /*Pseudo-elemento*/
    content: "";
    background-color: #ff7300;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

a:hover {
    color: #ff7300;
    outline: 0;
}

img {
    width: 60px;
    height: 60px;
}

#button {
    display: inline-block;
    background-color: #ff7300;
    box-shadow: 5px 5px 0px #000000;
    padding: 18px 20px;
    margin-right: 0;
    transition: transform 100ms linear;
    /*Animação no botão*/
}

#button:hover {
    /*Animação no botão*/
    transform: scale(1.08);
    color: #000000;
}