.main-title {
    font-family: 'Press Start 2P';
    font-size: 40px;
    color: #ff7300;
    text-shadow: 4px 4px 0 #000000;
    /* Sombra no texto */

}

.main-title.-second  {
    color: #fff;
    text-shadow: none;
    text-align: center;

}